.john-doe-arts1,
.vector-container-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
}
.vector-container-icon {
  height: 98.6px;
  width: 49px;
  left: 0;
  cursor: pointer;
}
.john-doe-arts1 {
  left: 426px;
}
.ionchevron-back {
  height: 50px;
  width: 50px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 2;
}
.design-name-child {
  height: 76px;
  width: 555px;
  position: relative;
  border-radius: var(--br-mid);
  background: linear-gradient(180deg, #040755, #eaeaf2);
  display: none;
  max-width: 100%;
}
.design-name1 {
  height: 35.8px;
  position: relative;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.design-name,
.names-child {
  border-radius: var(--br-mid);
  background: linear-gradient(180deg, #040755, #eaeaf2);
  max-width: 100%;
}
.design-name {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-2xl)
    var(--padding-2xl);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.names-child {
  height: 73px;
  width: 555px;
  position: relative;
  display: none;
}
.names1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.email-child,
.names {
  border-radius: var(--br-mid);
  background: linear-gradient(180deg, #040755, #eaeaf2);
  max-width: 100%;
}
.names {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-xl) var(--padding-xl)
    var(--padding-3xl);
  background-color: transparent;
  align-self: stretch;
  height: 73px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.email-child {
  height: 93px;
  width: 555px;
  position: relative;
  display: none;
}
.email1 {
  position: relative;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.email {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-xl) 27px var(--padding-3xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-mid);
  background: linear-gradient(180deg, #040755, #eaeaf2);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.btn-send,
.send {
  position: relative;
}
.btn-send {
  height: 61px;
  width: 379px;
  border-radius: var(--br-mid);
  background-color: var(--color-navy-100);
  display: none;
  max-width: 100%;
}
.send {
  align-self: stretch;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.btn-send-parent,
.framed-design {
  border-radius: var(--br-mid);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.btn-send-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl) var(--padding-xs)
    var(--padding-2xl);
  background-color: var(--color-navy-100);
  width: 380px;
  height: 61px;
  flex-direction: row;
  justify-content: center;
}
.btn-send-parent:hover {
  background-color: #3d42b8;
}
.framed-design {
  width: 601px;
  margin: 0 !important;
  position: absolute;
  top: 134px;
  left: 0;
  background: linear-gradient(180deg, #080434, rgba(8, 4, 52, 0) 99.46%);
  box-shadow: 0 15px 4px #0f072c;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-44xl) var(--padding-4xl) var(--padding-44xl)
    var(--padding-3xl);
  gap: 80px 0;
}
.return-to-gallery {
  height: 60px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 15px 15px 4px #140e22;
  min-width: 246px;
  max-width: 100%;
}
.social-icons-container {
  height: 70px;
  width: 70px;
  position: relative;
}
.gallery3 {
  width: 495px;
  margin: 0 !important;
  position: absolute;
  top: 134px;
  left: 977px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 47px;
  max-width: 100%;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-31xl);
}
.fullfooter-child1 {
  height: 192px;
  width: 1440px;
  position: relative;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #020a21,
    #030c29 22.73%,
    #0c1740 44.21%,
    #15174d 63.76%,
    #080324 78.1%,
    #020119 91.12%,
    #08092c
  );
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.acknowledgments4,
.blank-line16 {
  margin: 0;
}
.john-doe-marketing-director4 {
  margin: 0;
  white-space: pre-wrap;
  font-size: var(--font-size-xs);
}
.blank-line17,
.grateful-for-the4 {
  margin: 0;
}
.john-doe-4 {
  font-size: var(--font-size-xs);
  font-family: var(--font-lato);
}
.john-doe-artist4 {
  margin: 0;
}
.discover-the-captivating5 {
  margin: 0;
  white-space: pre-wrap;
}
.blank-line18 {
  margin: 0;
}
.john-doe-software-engineer4 {
  margin: 0;
  white-space: pre-wrap;
  font-size: var(--font-size-xs);
}
.an-endless-source4,
.blank-line19 {
  margin: 0;
}
.awwwards-platform4 {
  margin: 0;
  white-space: pre-wrap;
  font-size: var(--font-size-xs);
}
.empowers-our-designs4 {
  margin: 0;
}
.acknowledgments-john-doe-container4 {
  position: relative;
  z-index: 1;
}
.skill-icons {
  width: 14.7px;
  height: 15px;
  position: absolute;
  margin: 0 !important;
  top: 22.2px;
  right: 198px;
  z-index: 2;
}
.skill-icons1 {
  top: 59.2px;
  left: 86.5px;
}
.skill-icons1,
.skill-icons2,
.skill-icons3 {
  width: 14.7px;
  height: 15px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.skill-icons2 {
  right: 198px;
  bottom: 51.8px;
}
.skill-icons3 {
  bottom: 13.8px;
  left: 107.1px;
}
.behance-icon1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 235px;
  max-width: 100%;
}
.john-doe-gallery-all4 {
  position: relative;
  z-index: 1;
}
.symbol-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-46xl) 0 0;
  font-size: var(--font-size-mini);
}
.skill-iconslinkedin5 {
  height: 35px;
  width: 35px;
  position: absolute;
  margin: 0 !important;
  right: 21px;
  bottom: 0.4px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.social4 {
  position: relative;
  z-index: 2;
}
.text-label-for-social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.logosfacebook-icon5,
.skill-iconsinstagram5,
.skill-iconstwitter5 {
  height: 35px;
  width: 35px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 35px;
  z-index: 2;
}
.logo-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-within-frame,
.twitter-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-within-frame {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-87xl) 0 0;
  gap: 21px 0;
}
.twitter-icon {
  width: 311px;
  flex-direction: row;
  position: relative;
  font-size: var(--font-size-11xl);
}
.logoswhatsapp-icon5 {
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.logo-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-38xl) var(--padding-2xl) 0 0;
}
.deviconbehance5 {
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.logo-frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-38xl) 0 0;
}
.fullfooter4,
.inquiry1,
.realfooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.fullfooter4 {
  width: 1440px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #020a21,
    #030c29 22.73%,
    #0c1740 44.21%,
    #15174d 63.76%,
    #080324 78.1%,
    #020119 91.12%,
    #08092c
  );
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  align-items: flex-start;
  padding: var(--padding-4xs) var(--padding-42xl) var(--padding-lgi)
    var(--padding-172xl);
  gap: var(--gap-10xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-lato);
}
.inquiry1,
.realfooter {
  width: 100%;
}
.realfooter {
  margin: 0 !important;
  position: absolute;
  top: 838px;
  left: 0;
  align-items: center;
  max-width: 100%;
}
.inquiry1 {
  height: 1030px;
  position: relative;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #140226,
    #10082d 6.77%,
    #020215 18.15%,
    #03041b 28.71%,
    #080117 38.74%,
    #07011d 41.61%,
    #030116 48.27%,
    #07031d 51.82%,
    #080223 55.27%,
    #10082d 60.06%,
    #03041a 65.35%,
    rgba(1, 1, 12, 0.67) 78.31%,
    rgba(4, 4, 9, 0.43) 86.46%
  );
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 35px 377px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1200px) {
  .fullfooter4 {
    flex-wrap: wrap;
    padding-left: var(--padding-76xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .design-name1,
  .email1,
  .john-doe-arts1,
  .names1,
  .send {
    font-size: var(--font-size-13xl);
  }
  .return-to-gallery {
    font-size: var(--font-size-21xl);
  }
  .social4 {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 750px) {
  .fullfooter4 {
    padding-left: 47px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .design-name1,
  .email1,
  .john-doe-arts1,
  .names1,
  .send {
    font-size: var(--font-size-5xl);
  }
  .return-to-gallery {
    font-size: var(--font-size-11xl);
  }
  .gallery3 {
    flex-wrap: wrap;
  }
  .social4 {
    font-size: var(--font-size-lg);
  }
  .frame-within-frame {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .fullfooter4 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .inquiry1 {
    height: auto;
    min-height: 1029.6;
  }
}
